.theme {
	/* default */
	--ui-color-primary: #fff; /* text */
	--ui-color-secondary: #212223; /* background */
	--ui-color-key: #6c00ff; /* active */
	--ui-color-call: var(--ui-color-secondary); /* interactive */
	--ui-color-void: black; /* frame */
	
	--ui-color-primary-alpha-10: rgba(255,255,255,0.1);
	--ui-color-primary-alpha-20: rgba(255,255,255,0.2);
	--ui-color-primary-alpha-50: rgba(255,255,255,0.5);
	--ui-color-secondary-alpha-50: rgba(33,34,35,0.5);
	--ui-color-key-alpha-50: #8e57d4; /* 50% key on #b1aea8 (specifically, not --ui-color-secondary), pre-baked */
	--ui-color-call-alpha-50: var(--ui-color-secondary-alpha-50);
	--ui-color-tertiary: var(--ui-color-primary-alpha-50); /* text on frame */
}
